<div class="information">
    <div class="information__titles">
        <div class="items" tabindex="1" routerLinkActive="active-router">
            <p [routerLink]=[overview]>Overview</p>
        </div>
        <div class="items" tabindex="2" routerLinkActive="active-router">
            <p [routerLink]=[features]>Features</p>
        </div>
        <div class="information__titles--third-t items" tabindex="3" routerLinkActive="active-router">
            <p class="information__titles--third-t" [routerLink]=[whatsIn]>What's in <span class="information__titles--third-t--first-w">the </span><span class="information__titles--third-t--second-w">box?</span></p>
        </div>
    </div>
</div>
