<div class="information">
    <div class="information__titles">
        <div class="items" tabindex="1" routerLinkActive="active-router">
            <label [routerLink]=[overview]>Overview</label>
        </div>
        <div class="items" tabindex="2" routerLinkActive="active-router">
            <label [routerLink]=[features]>Features</label>
        </div>
        <div class="information__titles--third-t items" tabindex="3" routerLinkActive="active-router">
            <label [routerLink]=[whatsIn]>What's in
                <span class="information__titles--third-t--first-w">the </span>
                <span class="information__titles--third-t--second-w">box?</span></label>
        </div>
    </div>
</div>
