<div class="container-card box">
    <input class="input-check" type="radio"
           [name] = radioButtonModel.name
           [value]= radioButtonModel.value
           [tabIndex] = radioButtonModel.tabindex
           [id] = radioButtonModel.id
           (change)="changeGender(radioButtonModel)">
    <label class="label-box box-check"
           [for]="radioButtonModel.id">
        <div class="label-info">
            <div>
                <p class="label-box__title">{{radioButtonModel.title}}</p>
                <p class="label-box__subtitle">{{radioButtonModel.subtitle}}</p>
            </div>
            <div class="price">
                <div class="label-box__price" *ngIf="radioButtonModel.value>0">+ {{radioButtonModel.value | currency}}</div>
            </div>
        </div>
    </label>
    <p class="space"></p>
</div>
