@import "../../../../../styles";
.features{
  &__info{
    &--title{
      font-family: Circular-Std-Medium, sans-serif;
      font-size: 19px;
      color: map-get($colors , srp-black);
      line-height: 24px;
      font-weight: normal;
      margin-bottom: 12.81px;
    }
    &--card{
      margin-bottom: 16.19px;
    }
    &--card:focus{
      box-shadow: 0 0 0 3px map-get($colors, srp-gray);
    }
  }
}
