<div class="features">
    <div class="features__info" *ngFor="let feature of features">
        <p class="features__info__title">{{feature.title}}<span class="features__info__title--words" *ngIf="validateTitle(feature)"> warranty coverage?.</span></p>
        <div class="features__info__title__cards" [style.display]=feature.display >
            <div class="features__info__title__cards--card boxes" [style.marginRight]=feature.item[0].margin
                 *ngFor="let item of feature.item">
                <app-card (price) = "getPrice($event)" [radioButtonModel] = item></app-card>
            </div>
        </div>
    </div>
</div>
<div (window:resize)="reDisplayCards()"></div>
