<div class="images">
    <div class="images__big-image boxes">
        <img class="images__big-image--detail" src="../../../../../assets/images/box.png" alt="">
    </div>
    <div class="images__little-images">
        <div class="images__little-images__cont-box boxes">
            <img class="images__little-images__cont-box--box" src="../../../../../assets/images/box.png" alt="">
        </div>
        <div class="images__little-images__cont-earbuds boxes">
            <img class="images__little-images__cont-earbuds--earbuds" src="../../../../../assets/images/earbuds.png" alt="">
        </div>
        <div class="images__little-images__cont-detail boxes">
            <img class="images__little-images__cont-detail--earbuds-details" src="../../../../../assets/images/earbudsDetails.png" alt="">
        </div>
    </div>
</div>
