<div class="footer">
    <div class="footer__container">
        <div>
            <div class="footer__container__shopping">
                <p class="footer__container__shopping--title">Free Shipping</p>
                <p class="footer__container__shopping--subtitle">Get 2-day free shipping anywhere in North America.</p>
            </div>
            <div class="footer__container__shopping">
                <p class="footer__container__shopping--title">2 years warranty</p>
                <p class="footer__container__shopping--subtitle">If anything goes wrong in the first two years, we'll replace it for free.</p>
            </div>
        </div>
        <div class="footer__container__price-btn">
            <div class="footer__container__price-btn__price">
                <p class="footer__container__price-btn__price--value">{{price | currency}}</p>
                <p class="footer__container__price-btn__price--subtitle">Need financing? Learn more </p>
            </div>
            <button class="footer__container__price-btn__button box">Buy now</button>
        </div>
    </div>
</div>
