@import "../../../../../../src/styles.scss";
.footer{
  bottom: 0;
  position: fixed;
  height: 182px;
  width: 100%;
  background-color: map-get($colors , srp-lighter-gray);
  border: 1px solid map-get($colors , srp-border-gray);
  @media (min-width: $bp-tablet) {
    height: 112px;
  }
  &__container{
    justify-content: flex-end;
    display: flex;
    margin: 21px 32px 25px 32px;
    height: 100%;
    @media (min-width: $bp-tablet) {
      justify-content: space-between;
      margin: 21px 110px 25px 110px;
    }
    &__shopping{
      display: none;
      width: 280px;
      @media (min-width: $bp-tablet) {
        display: block;
      }
      @media (min-width: $bp-desktop) {
        margin-right: 32px;
        margin-bottom: 40px;
      }
      &--title{
        font-family: Circular-Std-Medium, sans-serif;
        font-size: 14px;
        color: map-get($colors , srp-black);
        line-height: 24px;
        font-weight: bold;
        margin-bottom: 16px;
        @media (min-width: $bp-desktop) {
          margin-bottom: 8px;
        }
      }
      &--subtitle{
        font-family: Circular-Std-Book, sans-serif;
        font-size: 14px;
        color: map-get($colors , srp-dark-gray);
        line-height: 20px;
        font-weight: normal;
        @media (min-width: $bp-tablet) {
          display: none;
        }
        @media (min-width: $bp-desktop) {
          display: block;
        }
      }
    }
    &__price-btn{
      display: block;
      @media (min-width: $bp-tablet) {
        display: flex;
        justify-content: space-between;
        width: 340px;
      }
      &__price{
        display: block;
        margin-bottom: 24px;
        text-align: right;
        &--value{
          font-family: Circular-Std-Bold, sans-serif;
          font-size: 27.648px;
          color: map-get($colors , srp-black);
          line-height: 32px;
          font-weight: bold;
          margin-bottom: 9px;
        }
        &--subtitle{
          font-family: Circular-Std-Book, sans-serif;
          font-size: 14px;
          color: map-get($colors , srp-dark-gray);
          line-height: 20px;
          font-weight: normal;
        }
      }
      &__button{
        border: none !important;
        border-radius: 8px;
        background-color: map-get($colors, srp-blue);
        font-family: Circular-Std-Bold, sans-serif;
        font-size: 16px;
        color: map-get($colors, srp-white);
        line-height: 24px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        width: 113px;
        height: 56px;
        float: right;
      }
      &__button:hover{
        background-color: map-get($colors, srp-light-blue);
      }
    }
  }
}
.info-container{
  @media (min-width: $bp-desktop) {
    display: flex;
  }
}
